*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-image: url(img.png);
    background-size: cover;
}
h1{
    font-size: medium;
}
.education_form{
    background-color: white;
    border-radius: 10px;
    height: 500px;
    width: 350px;
    margin: 10px;
    padding: 20px;
}
h2{
    font-size: medium;
}
.edu_button button{
    background-color: blue;
    color: white;
    padding: 10px;
}
