*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom,rgb(166,166,223),rgb(42, 42, 161),skyblue);
    
}
#register{
    color:white;    
}
.registration_form input{
    border-radius: 10px;
    padding: 10px 10px;
    margin: 5px;
}

.reg_form{
    
    border: 2px solid rgb(5, 5, 5);
    text-align: center;
    color: white;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 350px;
    border-radius: 150px;
    border-style: none;
    font-size: large;

}
.registration_form {
  /*  border: 1px solid black;*/
    border-radius: 10px;
   /* padding :20px;*/
    height:550px;
    width: 400px;
    background-color:  rgb(15, 15, 109);
    color: white;
}
.form{
    border-radius: 10px 10px 0 0;
    background-color: rgb(7, 7, 47);
    padding: 10px;
}
.context{
    margin: 10px;
    height: 75px;
    display: flex;
    font-size: small;
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    justify-content: end;
    align-items: center;
}

.context p{
    display:flex;
    margin: 5px;
    font-size: 12px;
}
.reg_button{
    display: flex;
    justify-content: end;
    margin: 15px;
}
.reg_button button{
    background-color: green;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: large;
}
.reg_button button:hover{
    background-color: rgb(63, 195, 63);
}